<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GpsotApp.Properties.Settings.evotsis_gspotConnectionString"
            connectionString="server=50.87.144.102;password=gspot@123;user id=evotsis_gspot;database=evotsis_gspot"
            providerName="MySql.Data.MySqlClient" />
        <add name="GpsotApp.Properties.Settings.evotsis_gspotConnectString"
            connectionString="server=50.87.144.102;user id=evotsis_gspot;password=gspot@123;persistsecurityinfo=True;database=evotsis_gspot"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>